<%= render 'layouts/help_menu' %>

<div class="container col-sm-9">
  <h2 class="header" style="padding-left:0">Help and Rules</h2>
  <div>
    <h3 id='how-fcl-works'>How FCL Works</h3>
    <div>
      <p>To play Fantasy Congress you pick a team of sitting representatives and senators to compete in leagues with other users. Your team members score points for passing legislation, voting, and other civic duties. At the end of the league season, the teams with the most points win.</p>
      <p>Gameplay resembles other fantasy sports, only in FCL you're playing politics and tracking the careers of congress members and their overall effectiveness. </p>
      <p>Playing FCL is free of charge, but some leagues pay the winners from cash prize pools, and so require a buy-in from participating users. Once you deposit funds to your FCL account you can play in the payout leagues.</p>
    </div>
  </div>
  <div>
    <h3 id='getting-started'>Getting Started</h3>
    <p>Getting started is easy and doesn't require any prior knowledge of congress. You can join as many leagues as you want and experiment with different strategies.</p>
    <ul>
      <li><strong>Step 1. Join a League</strong>: Find an open league configured for your preferred style of play, duration, or number of teams.</li>
      <li><strong>Step 2. Draft a Team</strong>: </li>
      <li><strong>Step 3. Follow Congress</strong>: </li>
      <li><strong>Step 4. Bench, Trade, Recruit</strong>: </li>
      <li><strong>Step 5. Score Points</strong>: </li>
      <li><strong>Step 6. Win the League</strong>: </li>
    </ul>
  </div>  
  <div>
    <h3 id='league-play'>League Play</h3>
    <div>
      <h4 id='finding-a-league'>Finding a League</h4>
      <p>You can <a>search for leagues</a> by name, or filter by a variety of options such as duration, team slots, buy-in amount or payout rules, draft type, roster lineups, and more. </p>
      <h4 id='seasons'>Seasons</h4>
      <p>League commissioners choose the length of the season, from weekly up to the full 2-year congress. Longer leagues provide higher congressional scores and more opportunity for strategy and tactics, while shorter leagues emphasis drafting and have quicker payouts. The period officially begins after the draft is finished and the commissioner starts the season.</p>
      <ul>
        <li><strong>Weekly</strong>: A weekly season lasts for 7 days.</li>
        <li><strong>Monthly</strong>: A monthly season lasts for 30 days.</li>
        <li><strong>Quarter</strong>: A quartlery season lasts for 90 days</li>
        <li><strong>Triannually</strong>: A triannual season lasts 120 days</li>
        <li><strong>Semiannual</strong>: A semiannual season lasts 180 days</li>
        <li><strong>Annual</strong>: An annual season lasts 360 days.</li>
        <li><strong>Congress</strong>: A congressional season lasts until the end of the current congress</li>
      </ul>
      <h4 id='dynasty-leagues'>Dynasty Leagues</h4>
      <p>When a dynasty league ends, teams keep some or all of their members and the league repeats on a new schedule. These leagues emphasize preliminary congressional draft research, and in-game trading.</p>
      <h4 id='private-leagues'>Private Leagues</h4>
      <p>Leagues all public and open to any user by default, while private leagues can only be joined (or watched) by users who have been given the league URL and password.</p>
      <h4 id='quitting-leagues'>Quitting</h4>
      <p>You can freely quit a league any time. When quitting a cash league before the draft has started you're refunded the funds you contributed; if you quit afterwards, your buy-in remains in the prize pool. </p>
      <h4 id='league-formats'>League Formats</h4>
      <p>There are several league formats for varying strategic gameplay.</p>
      <ul>
        <li><strong>Ladder</strong>: The basic league format is a ladder ranking system where the teams are simply score from first ot last in total points earned during the season.</li>
        <li><strong>Rotisserie</strong>: In a rotisserie league, teams are ranked in several categories and then assigned points based on their respective placement. The points are totaled together for a final team, meaning that rotisserie leagues require a balanced performance within several categories:
          <ul>
            <li>Bill Passages: points earned from sponsored legislation</li>
            <li>Assists: points earned from co-sponsored legislation</li>
            <li>Amendments: points earned from amending bills</li>
            <li>Maverick Votes: points earned by voting against party lines</li>
            <li>Attendance: points earned for attending votes</li>
            <li>Publicity: points earned for news mentions</li>
          </ul>
        </li>
        <li><strong>Tournament</strong>: A tournament league is bracketed by head-to-head team matchups, each which lasts for a semiweekly scoring period. After the match the points for that period are totaled and the teams which won their match advance up the tournament bracket, while the losing teams continuing competing in a losers bracket. </li>
      </ul>
      <h4 id='leagues-slots'>Team Slots</h4>
      <p>Anywhere from 2 to 50 teams can play in a league. The upper limit is necessary to ensure that enough legislators are available during drafting and trading.</p>
    </div>
  </div>
  <div>
    <h3 id='drafting'>Drafting</h3>
    <div>
      <h4 id='draft-formats'>Draft Formats</h4>
      <p>There are several draft formats for varying strategic gameplay.</p>
      <ul>
        <li><strong>Linear Draft</strong>: The simplest format, each team is randomly assigned an ordinal and then drafting proceeds in turn.</li>
        <li><strong>Snake Draft</strong>: Like linear drafts but after each round the order is reversed, so on even-numbered draft rounds the last team drafts first.</li>
        <li id='salary-cap'><strong>Salary Cap</strong>: A relative "salary" is assigned to each legislator by
          FCL, and team owers recieve $1,000,000 with which to purchace their players. Each draft round you buy a team member. Leagues can optionally support under- or over-purchasing, in which your team salary is converted to a $5K/0.01pt bonus or penalty during league scoring, expanding the drafting tactics.</li>
        <li><strong>Autodraft</strong>: An autodraft occurs once all team slots are filled and the commissioner starts the draft. Teams are assigned a random draft order, and then automatically given team members in order of points earned by the legislator over the last 365 days (with a +/- 25 point spread).</li>
        <li><strong>All-Star</strong>: In an all-star draft players can freely pick any team members they wish with no restrictions. Because many teams will have similar rosters, tactical lineup management is emphasized in these leagues.</li>
      </ul>
      <h4 id='draft-schedule'>Draft Schedule</h4>
      <p>The league commissioner will choose a time limit per draft turn, or allow unrestricted live drafts which conclude once all the teams have drafted. If the time limit elapses on your draft turn then a draft pick will automatically be selected for you following the same rules as the autodraft.</p>
      <h4 id='draft-stats'>Draft Stats</h4>
      <p>While drafting you can review each legistor's scorecard, as well as specific draft stats for average draft position, and percentage of FCL teams into which the player was drafted.</p>
    </div>
  </div>

  <div>
    <h3 id='cash-payout'>Cash Payout</h3>
    <div>
      <h4 id='buy-ins'>League Buy-Ins</h4>
      <p>Cash payout leagues require users to contribute a buy-in, from as little as $1, which forms the prize pool for the league winners. Before joining a cash league you will need to have deposited funds to your FCL account.</p>
      <h4 id='payout-rules'>Payout Rules</h4>
      <p>There are various payout rules for cash leagues.</p>
      <ul>
        <li><strong>Winner Takes All</strong>: The team with the most points is awarded the full prize pool. The winnings are divided equally in the event of a tie.</li>
        <li><strong>50 / 50</strong>: The prize pool is divided equally among the top half of the teams, while owners of the bottom half recieve nothing.</li>
        <li><strong>Top Two</strong>: The first and second winners recieve prize pool payments of 65% and 35% respectively.</li>
        <li><strong>Top Three</strong>: The first, second, and third place winners recieve prize pool payments of 50%, 30%, and 20% respectively.</li>
        <li><strong>Championship</strong>: The top four matchups by points recieve prize pool payments of 30% (1), 20% (1), 15% (2), and 5% (4) respectively.</li>
      </ul>
      <h4 id='the-rake'>The Rake</h4>
      <p>The FCL takes an industry-standard 10% rake for $100 (or less) payouts, 8% rake for payouts up to $400, and a %5 rake for any higher prize pools.</p>
    </div>
  </div>
  <div>
    <h3>Team Management</h3>
    <div>
      <p>...
      </p>
    </div>
  </div>   
  <div>
    <h3 id='team-rosters'>Team Rosters</h3>
    <p>Your team roster includes all the legislators you drafted.</p>
    <div>
      <h4 id='lineups'>Lineups</h4>
      <p>Your lineup includes a selection of team members from your roster that score points for congressional activity. Members which are not active in the lineup do not score points.</p> 
      <h4 id='lineup-changes'>Lineup Changes</h4>
      <p>Leagues allow you to update your lineup on one of several schedules. Generally you should research upcoming legislation and choose a lineup of legislators most likely to score points.</p>
      <ul>
        <li><strong>Always</strong>: you can update your lineup at any time.</li>
        <li><strong>Daily</strong>: you can update your lineup every evening between 8:00pm - 11:59pm EST.</li>
        <li><strong>Weekends</strong>: you can update your lineup at any time from 8:00pm Friday - 11:59pm Monday EST.</li>
      </ul>
      <p>During lineup changes you can play or bench team members, assign positions, recruit new legislators, or retire existing ones.</p>
      <h4 id='team-president'>Team President</h4>
      <p>One legislator on your team can be assigned as the president, and will add a percentage bonus for all points they score.</p>
      <h4>Team Whip</h4>
      <p>...</p>
      <h4>Team Speaker</h4>
      <p>...</p>
    </div>
  </div> 
  <div>
    <h3>Trading</h3>
    <div>
      <h4>Player Eligibility</h4>
      <p>...</p>
      <h4>Schedule</h4>
      <p>...</p>
    </div>
  </div>   
  <div>
    <h3>Scoring</h3>
    <div>
      <p>...
      </p>
    </div>
  </div>  
  <div>
    <h3>Deposits / Withdrawls</h3>
    <div>
      <h4>Supported Payment Options</h4>
      <p>...</p>
      <h4>Depositing Funds</h4>
      <p>...</p>
      <h4>Withdrawing Funds</h4>
      <p>...</p>
      <h4>Payout Schedule</h4>
      <p>...</p>
    </div>
  </div> 
  <div>
    <h3>League Management</h3>
    <div>
      <p>...
      </p>
    </div>
  </div>  
  <div>
    <h3 id='user-accounts'>User Accounts</h3>
    <div>
      <h4 id='account-history'>Account History</h4>
      <p>From your user account you can view your all-time league records, gross winnings, average scores, favorite lineup, legislator MVPs, and more. Research your opponents using the same information to discover counter-drafting opportunities.</p>
      <h4 id='notification-settings'>Notification Settings</h4>
      <p>You can adjust when and what alerts you recieve via email or SMS. Be notified during drafts, after scoring, before payouts, and recieve a variety of strategy reports by configuring your <a>notification settings</a>.</p>
      <h4 id='loyalty-program'>Loyalty Program</h4>
      <p>Every time you play a team, join a payout league, commission a game, or refer a new member to FCL, you recieve loyalty points. There are 5 user levels in the program depending on your points. Every month, loyal users will recieve a <strong>rakeback</strong> deposit to their account equal to a percentage of all buy-in fees they paid that month, up to a possible 33% rakeback.</p>
    </div>
  </div>  
  <div>
    <h3 id='stock-market'>Stock Market</h3>
    <div>
      <h4 id='shareholding'>Shareholding</h4>
      <p>Every legislator has 100 "shares" valued at their relative amount of points compared to all the other legislators in the market. That amount represents their percentage ownership of all funds invested in the market (minus a 10% or less sliding rake).</p>
      <h4 id='investing'>Investing</h4>
      <p>The value of a legislator's shares is updated daily, and you can buy available shares at any time with your deposited funds. You can sell your shares at any time as well, so that your strategy will entail buying when a legislator is underestimated and selling when they are overvalued.</p>
      <h4 id='dividends'>Dividends</h4>
      <p>At the end of every congress, the total funds in stock market will be paid to all shareholders based on the current value when the congress ends.</p>
    </div>
  </div>   
  <div>
    <h3 id='legality'>Legality</h3>
    <div>
      <h4 id='cash-prize-legality'>Cash Prizes</h4>
      <p>All payouts are clearly displayed to the users in advance of a league buy-in, and users can withdraw funds at their convinience.</p>
      <h4 id='uigea'>UIGEA</h4>
      <p>Fantasy Congress league is in full compliance with the Unlawful Internet Gambling Enforcement Act, which includes an exception for fantasy sports and educational games.</p>
      <h4 id='uigea-exceptions'>Exceptions</h4>
      <p>US States not falling under this law include Arizona, Iowa, Louisiana, Montana and Vermont. Users in those states <strong>may not participate in cash payout league play</strong>. </p>
      <h4 id='data-sources'>Data Sources</h4>
      <p>The various data found on FCL and used for scoring is drawn from many different public and private sources, including <%= link_to 'GovTrack', 'https://www.govtrack.us/' %>, <%= link_to 'congress*gov', 'http://http://beta.congress.gov/' %>, the <%= link_to 'Sunlight Foundation', 'http://sunlightfoundation.com/' %>, <%= link_to 'Open Congress', 'http://www.opencongress.org/' %>, and the <%= link_to 'NY Times', 'http://developer.nytimes.com/docs/congress_api' %>.</p>
    </div>
  </div>  

</div>