<div class="container">
  <h2 class="header">JOIN <small><%= link_to truncate(@league.name, lenght: 64), league_path(@league) %></small></h2>
  <div class="col-sm-12">
    <p class='lead col-sm-12'>
      Name your team and join the league. Once all the teams have joined, you can start drafting.
    </p>
  </div>  

  <%= form_for @team, url: league_teams_path(@league), class: "form-horizontal", role: "form" do |f| %>
    <div class="form-group col-sm-12">
      <%= f.label :name, 'Team Name', class: "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.text_field :name, class: "form-control", autofocus: true, placeholder: "Display name, up to 128 characters" %>
      </div>
    </div>  

    <div class="form-group col-sm-12">
      <br />
      <div class="col-sm-offset-2 col-sm-3">
        <%= f.submit 'Join League', class: "btn btn-primary btn-block" %>
      </div>
    </div>
  <% end %>
</div>