<p>
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group"></div>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn dropdown-toggle <%= params[:league_format] ? 'btn-primary' : 'btn-default' %>" data-toggle="dropdown">
        Format &nbsp;
        <span class="caret"></span>
      </button>
      <%= link_to filtered_leagues_path(:dynasty, true), type: "button", class: "btn #{params[:dynasty] ? 'btn-primary' : 'btn-default'}" do %>
        Dynasty
        <span class="glyphicon glyphicon-check"></span>
      <% end %>
      <ul class="dropdown-menu">
        <li><%= link_to 'Ladder', filtered_leagues_path(:league_format, 'ladder') %></li>
        <li><%= link_to 'Rotisserie', filtered_leagues_path(:league_format, 'rotisserie') %></li>
        <li><%= link_to 'Tournament', filtered_leagues_path(:league_format, 'tournament') %></li>
      </ul>
    </div>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Season &nbsp;
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'Monthly', filtered_leagues_path(:season, 'month') %></li>
        <li><%= link_to 'Quarterly', filtered_leagues_path(:season, 'quarter') %></li>
        <li><%= link_to 'Semiannual', filtered_leagues_path(:season, 'semiannual') %></li>
        <li><%= link_to 'Triannual', filtered_leagues_path(:season, 'triannual') %></li>
        <li><%= link_to 'Annual', filtered_leagues_path(:season, 'annual') %></li>
        <li><%= link_to 'Congressional', filtered_leagues_path(:season, 'congress') %></li>
      </ul>
    </div>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Draft &nbsp;
        <span class="caret"></span>
      </button>
      <%= link_to filtered_leagues_path(:timed, true), type: "button", class: "btn #{params[:timed] ? 'btn-primary' : 'btn-default'}" do %>
        Timed
        <span class="glyphicon glyphicon-check"></span>
      <% end %>
      <ul class="dropdown-menu">
        <li><%= link_to 'Linear', filtered_leagues_path(:draft, 'linear') %></li>
        <li><%= link_to 'Snake', filtered_leagues_path(:draft, 'snake') %></li>
        <li><%= link_to 'Salary', filtered_leagues_path(:draft, 'salary') %></li>
        <li><%= link_to 'All Stars', filtered_leagues_path(:draft, 'all_star') %></li>
        <li><%= link_to 'Autodraft', filtered_leagues_path(:draft, 'autodraft') %></li>
      </ul>
    </div>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Lineup &nbsp;
        <span class="caret"></span>
      </button>
      <%= link_to filtered_leagues_path(:formation, true), type: "button", class: "btn #{params[:formation] ? 'btn-primary' : 'btn-default'}" do %>
        Custom
        <span class="glyphicon glyphicon-check"></span>
      <% end %>
      <ul class="dropdown-menu">
        <li><%= link_to 'Always', filtered_leagues_path(:lineup, 'always') %></li>
        <li><%= link_to 'Daily', filtered_leagues_path(:lineup, 'daily') %></li>
        <li><%= link_to 'Weekends', filtered_leagues_path(:lineup, 'weekends') %></li>
      </ul>
    </div>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Slots &nbsp;
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to '2-6 Teams', filtered_leagues_path(:slots, '2_6') %></li>
        <li><%= link_to '6-12 Teams', filtered_leagues_path(:slots, '6_12') %></li>
        <li><%= link_to '12-24 Teams', filtered_leagues_path(:slots, '12_24') %></li>
        <li><%= link_to '24-50 Teams', filtered_leagues_path(:slots, '24_50') %></li>
      </ul>
    </div>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Payout &nbsp;
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'Winner Takes All', filtered_leagues_path(:payout, 'winner_takes_all') %></li>
        <li><%= link_to 'Top Two', filtered_leagues_path(:payout, 'top_two') %></li>
        <li><%= link_to 'Top Three', filtered_leagues_path(:payout, 'top_three') %></li>
        <li><%= link_to 'Championship', filtered_leagues_path(:payout, 'championship') %></li>
        <li><%= link_to '50 / 50', filtered_leagues_path(:payout, 'fifty_fifty') %></li>
      </ul>
    </div>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Stake &nbsp;
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to '$5-$10', filtered_leagues_path(:stake, '5_10') %></li>
        <li><%= link_to '$10-$25', filtered_leagues_path(:stake, '10_25') %></li>
        <li><%= link_to '$5-$25', filtered_leagues_path(:stake, '5_25') %></li>
        <li><%= link_to '$25-$50', filtered_leagues_path(:stake, '25_50') %></li>
        <li><%= link_to '$50-$100', filtered_leagues_path(:stake, '50_100') %></li>
        <li><%= link_to '$25-$100', filtered_leagues_path(:stake, '25_100') %></li>
        <li><%= link_to '$100-$250', filtered_leagues_path(:stake, '100_250') %></li>
        <li><%= link_to '$250-$500', filtered_leagues_path(:stake, '250_500') %></li>
        <li><%= link_to '$100-$500', filtered_leagues_path(:stake, '100_500') %></li>
      </ul>
    </div>
    <div class="btn-group btn-group-xs">
      <%= form_tag filtered_leagues_path(:name, ''), method: :get, class: "form-inline", role: "form" do %>
        <%= text_field :name, nil, 
                       value: params[:name], 
                       name: 'name', 
                       class: "btn btn-default input-sm", 
                        placeholder: " Search by name" %><button type="submit" class="btn btn-default input-sm"><i class="glyphicon glyphicon-search"></i></button>
      <% end %>
    </div>
    <div class="btn-group btn-group-sm">
      <%= link_to leagues_path, type: "button", class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-refresh"></span>
      <% end %>
    </div>
  </div>
</p>