<div class="container">
  <h2 class="header" style="padding-left:0">
    League Lobby
    <%= link_to 'New League', new_league_path, 
                type: "button", 
                class: "btn btn-xs btn-success pull-right", 
                style:"margin-top:5px" %>
  </h2>

  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header hidden-xs">
      <a class="navbar-brand">Filter By:</a>
    </div>
    <%= render 'leagues/league_filter_bar' %>
  </nav>

  <% if @leagues.empty? && filtering_leagues? %>
    <div class="alert alert-warning">
      <strong>No leagues found<strong> matching your criteria. <%= link_to 'Reset the filters', leagues_path, class: 'alert-link' %> to view all leagues or else <%= link_to 'start your own', new_league_path, class: 'alert-link' %>.
    </div>
  <% elsif @leagues.empty? %>
    <div class="alert alert-warning">
      <strong>No public leagues found<strong>. <%= link_to 'Start your own league now', new_league_path, class: 'alert-link' %>.
    </div>  
  <% else %>
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-condensed small">
        <thead>
          <tr class='active'>
            <th>Name</th>
            <th>Slots</th>
            <th>Format</th>
            <th>Draft</th>
            <th>Season</th>
            <th>Cash</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
          <% @leagues.each do |league| %>
          <tr>
            <td><%= link_to truncate(league.name, lenght: 32), league_path(league), class: "center-block text-left" %></td>
            <td><%= league.slots %></td>
            <td><%= league.format.titleize %></td>
            <td><%= league.draft.titleize %></td>
            <td><%= league.season.titleize %></td>
            <td>
              <% if league.cash? %>
                <%= league.payout.humanize %>
              <% else %>
                Free
              <% end %>
            </td>
            <td><%= time_ago_in_words league.created_at %> ago</td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>