<div class="container">
  <h2 class="header">Create a League</h2>
  <div class="col-sm-12">
    <p class='lead col-sm-12'>
      Configure the format and gameplay options to your preference. As the commissioner you can still play in the league while managing it.
    </p>
  </div>

  <%= form_for @league, url: leagues_path, class: "form-horizontal", role: "form" do |f| %>
    <div class="form-group col-sm-12">
      <ul class="nav nav-tabs small">
        <li class="active"><a href="#league" data-toggle="tab">League</a></li>
        <li><a href="#rules" data-toggle="tab">Rules</a></li>
        <li><a href="#draft" data-toggle="tab">Drafting</a></li>
        <li><a href="#cash" data-toggle="tab">Cash</a></li>
      </ul>    
    </div>    

    <div class="tab-content">
      <div class="tab-pane active" id="league">
        <div class="form-group col-sm-12">
          <%= f.label :name, 'League Name', class: "col-sm-2 control-label" %>
          <div class="col-sm-6">
            <%= f.text_field :name, class: "form-control", placeholder: "Display name, up to 128 characters" %>
          </div>
        </div>  

        <div class="form-group col-sm-12">
          <%= f.label :format, 'League Format', class: "col-sm-2 control-label" %>
          <div class="col-sm-6">
            <%= f.select :format, 
                     options_for_select(League::FORMAT.keys.map{|t| [t.titleize, t] }, @league.format),
                     {include_blank: false}, class: 'form-control' %>
            <p class='help-block'><small>The <%= link_to 'league format', help_path(anchor: 'league-formats') %> determines how points will be scored when determining the season's winners.</small></p>
          </div>
        </div>  

        <div class="form-group col-sm-12">
          <%= f.label :slots, 'Team Slots', class: "col-sm-2 control-label" %>
          <div class="col-sm-6">
            <%= f.number_field :slots, class: "form-control", placeholder: "Participating teams, from 2 to 50" %>
            <p class='help-block'><small>The <%= link_to 'team slots', help_path(anchor: 'leagues-slots') %> sets the number of teams that can play in the league.</small></p>
          </div>
        </div>  

        <div class="form-group col-sm-12">
          <%= f.label :season, 'Season Length', class: "col-sm-2 control-label" %>
          <div class="col-sm-6">
            <%= f.select :season, 
                     options_for_select(League::SEASON.keys.map{|t| [t.titleize, t] }, @league.season),
                     {include_blank: false}, class: 'form-control' %>
            <p class='help-block'><small>The <%= link_to 'season length', help_path(anchor: 'seasons') %> determines how long the league will run before winners are decided. Dynasty leagues will have multiple seasons while normal leagues have just one.</small></p>
          </div>
        </div>

        <div class="form-group col-sm-12">
          <%= f.label :password, 'League Password', class: "col-sm-2 control-label" %>
          <div class="col-sm-6">
            <%= f.password_field :password, class: "form-control", placeholder: "Between 6 and 64 characters" %>
            <p class='help-block'><small>By default anybody can join a league, but you can create a <%= link_to 'private league', help_path(anchor: 'private-leagues') %> which can only be accessed by users with the password.</small></p>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="rules">
        <div class="form-group col-sm-12">
          <%= f.label :lineup, 'Lineup Changes', class: "col-sm-2 control-label" %>
          <div class="col-sm-6">
            <%= f.select :lineup, 
                     options_for_select(League::LINEUP.keys.map{|t| [t.titleize, t] }, @league.lineup),
                     {include_blank: false}, class: 'form-control' %>
            <p class='help-block'><small>Team <%= link_to 'lineup changes', help_path(anchor: 'lineup-changes') %> are only allowed at certain times in order to reward smarter roster management.</small></p>
          </div>
        </div>

        <div class="form-group col-sm-12">
          <%= f.label :dynasty, 'Dynasty League Members', class: "col-sm-2 control-label" %>
          <div class="col-sm-6">
            <%= f.number_field :dynasty, class: "form-control" %>
            <p class='help-block'><small>A <%= link_to 'dynasty league', help_path(anchor: 'dynasty-leagues') %> lasts over multiple seasons. By default (0), leagues are not dynasty; enter a number of team members to keep between seasons to enable dynasty play.</small></p>
          </div>
        </div>   
      </div>

      <div class="tab-pane" id="draft">
        <div class="form-group col-sm-12">
          <%= f.label :draft, 'Draft Format', class: "col-sm-2 control-label" %>
          <div class="col-sm-6">
            <%= f.select :draft, 
                     options_for_select(League::DRAFT.keys.map{|t| [t.titleize, t] }, @league.draft),
                     {include_blank: false}, class: 'form-control' %>
            <p class='help-block'><small>The <%= link_to 'draft format', help_path(anchor: 'draft-formats') %> determines the method and order with which teams pick legislators.</small></p>
          </div>
        </div> 

        <div class="form-group col-sm-12">
          <%= f.label :draft, 'Auction Salary Cap', class: "col-sm-2 control-label" %>
          <div class="col-sm-6">
            <div>
              <label class="checkbox-inline" style="padding-left:0">
                <%= f.radio_button :salary_flex, true %> Flexible
              </label>
              <label class="checkbox-inline">
                <%= f.radio_button :salary_flex, false %> Fixed
              </label>
            </div>
            <p class='help-block'><small>For auction drafts only, enabling <%= link_to 'flexible salary', help_path(anchor: 'salary-cap') %> allow teams to over- or under-pay in exchange for a scoring modifier.</small></p>
          </div>
        </div>        

        <div class="form-group col-sm-12">
          <%= f.label :slots, 'Draft Time Limit <br>(in minutes)'.html_safe, class: "col-sm-2 control-label" %>
          <div class="col-sm-6">
            <%= f.number_field :draft_minutes, class: "form-control", placeholder: "1140" %>
            <p class='help-block'><small>This <%= link_to 'time limit', help_path(anchor: 'draft-schedule') %> forces teams to draft quickly or else have their pick automatically chosen; default is one day (1140 minutes) per pick.</small></p>
          </div>
        </div>  
      </div>

      <div class="tab-pane" id="cash">
        <div class="form-group col-sm-12">
          <%= f.label :stake, 'Buy-In Stake', class: "col-sm-2 control-label" %>
          <div class="col-sm-6">
            <%= f.number_field :stake, class: "form-control", placeholder: "An amount between $5 - $500" %>
            <p class='help-block'><small>By default leagues are free, but cash leagues require <%= link_to 'team buy-ins', help_path(anchor: 'buy-ins') %> which entitles the season winners to a prize pool.</small></p>
          </div>
        </div>

        <div class="form-group col-sm-12">
          <%= f.label :payout, 'Payout Rules', class: "col-sm-2 control-label" %>
          <div class="col-sm-6">
            <%= f.select :payout, 
                     options_for_select(League::PAYOUT.keys.map{|t| [t.titleize, t] }, @league.payout),
                     {include_blank: true}, class: 'form-control' %>
            <p class='help-block'><small>The <%= link_to 'payout rules', help_path(anchor: 'payout-rules') %> determine how the prize pool is divided in cash leagues.</small></p>
          </div>
        </div>
      </div>
    </div>   

    <div class="form-group col-sm-12">
      <br />
      <div class="col-sm-offset-2 col-sm-3">
        <%= f.submit 'Create League', class: "btn btn-primary btn-block" %>
      </div>
    </div>
  <% end %>
</div>