<div class="container">
  <h2 class="header">FCL Sign Up</h2>
  <div class="col-sm-12">
    <p class='lead col-sm-12'>
      Get into the game! Registration is <strong>SIMPLE</strong> and <strong>FREE</strong>.
    </p>
  </div>

  <%= form_for @user, url: users_path, class: "form-horizontal", role: "form" do |f| %>
    <div class="form-group col-sm-12">
      <label for="login_email" class="col-sm-2 control-label">Email Address</label>
      <div class="col-sm-6">
        <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "For login and alerts. No SPAM!" %>
      </div>
    </div> 
    <div class="form-group col-sm-12">
      <label for="user_password" class="col-sm-2 control-label">Password</label>
      <div class="col-sm-6">
        <%= f.password_field :password, class: "form-control", placeholder: "Between 6 and 64 characters" %>
      </div>
    </div>
    <div class="form-group col-sm-12">
      <label for="login_email" class="col-sm-2 control-label">Username</label>
      <div class="col-sm-6">
        <%= f.text_field :username, class: "form-control", placeholder: "Your FCL account username, up to 64 characters" %>
      </div>
    </div>  
    <div class="form-group col-sm-12">
      <label for="login_email" class="col-sm-2 control-label">First Name</label>
      <div class="col-sm-6">
        <%= f.text_field :first_name, class: "form-control", placeholder: "Your real first name" %>
      </div>
    </div>  
    <div class="form-group col-sm-12">
      <label for="login_email" class="col-sm-2 control-label">Last Name</label>
      <div class="col-sm-6">
        <%= f.text_field :last_name, class: "form-control", placeholder: "Your real last name" %>
      </div>
    </div>   
    <div class="form-group col-sm-12">
      <div class="col-sm-offset-2 col-sm-6">
        <div class="checkbox">
          <label>
            <%= f.check_box :tos_agreement %> I agree to the FCL Terms of Service
          </label>
        </div>
      </div>
    </div>

    <div class="form-group col-sm-12">
      <div class="col-sm-offset-2 col-sm-3">
        <%= f.submit 'Register', class: "btn btn-primary btn-block" %>
      </div>
    </div>
  <% end %>
</div>