<p>
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group"></div>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Party &nbsp;
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'Republican', filtered_legislators_path(:party, 'republican') %></li>
        <li><%= link_to 'Democrat', filtered_legislators_path(:party, 'democrat') %></li>
        <li><%= link_to 'Independent', filtered_legislators_path(:party, 'independent') %></li>
      </ul>
    </div>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Chamber &nbsp;
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'House', filtered_legislators_path(:chamber, 'representative') %></li>
        <li><%= link_to 'Senate', filtered_legislators_path(:chamber, 'senator') %></li>
      </ul>
    </div>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Seniority &nbsp;
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'Rookies', filtered_legislators_path(:terms, '1_1') %></li>
        <li><%= link_to 'Juniors', filtered_legislators_path(:terms, '2_8') %></li>
        <li><%= link_to 'Veterans', filtered_legislators_path(:terms, '9_99') %></li>
      </ul>
    </div>
    <div class="btn-group btn-group-sm">
      <%= link_to filtered_legislators_path(:gender, :male), type: "button", class: "btn #{params[:gender]=='male' ? 'btn-primary' : 'btn-default'}" do %>
        M
        <span class="glyphicon glyphicon-check"></span>
      <% end %>
      <%= link_to filtered_legislators_path(:gender, :female), type: "button", class: "btn #{params[:gender]=='female' ? 'btn-primary' : 'btn-default'}" do %>
        F
        <span class="glyphicon glyphicon-check"></span>
      <% end %>
    </div>

    <div class="btn-group btn-group-xs">
      <%= form_tag filtered_legislators_path(:name, ''), method: :get, class: "form-inline", role: "form" do %>
        <%= text_field :name, nil, 
                       value: params[:name], 
                       name: 'name', 
                       class: "btn btn-default input-sm", 
                        placeholder: " Search by name" %><button type="submit" class="btn btn-default input-sm"><i class="glyphicon glyphicon-search"></i></button>
      <% end %>
    </div>
    <div class="btn-group btn-group-sm">
      <%= link_to legislators_path, type: "button", class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-refresh"></span>
      <% end %>
    </div>
  </div>
</p>