<div class="container">
  <h2 class="header" style="padding-left:0">
    Legislators
  </h2>

  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header hidden-xs">
      <a class="navbar-brand">Filter By:</a>
    </div>
    <%= render 'legislators/legislator_filter_bar' %>
  </nav>

  <% if @legislators.empty? && filtering_legislators? %>
    <div class="alert alert-warning">
      <strong>No legislators found<strong> matching your criteria. <%= link_to 'Reset the filters', legislators_path, class: 'alert-link' %> to view all members of congress.
    </div>
  <% elsif @legislators.empty? %>
    <div class="alert alert-warning">
      No sitting legislators found.
    </div>  
  <% else %>
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-condensed small">
        <thead>
          <tr class='active hidden-xs'>
            <th>Name</th>
            <th>Chamber</th>
            <th>Party</th>
            <th>State</th>
            <th>Age</th>
            <th>Terms</th>
          </tr>
        </thead>
        <tbody>
          <% @legislators.each do |legislator| %>
          <tr>
            <td><%= link_to truncate(legislator.full_name, lenght: 32), legislator_path(legislator), class: "center-block text-left" %></td>
            <td><%= legislator.position.chamber[0..2].titleize %>.</td>
            <td><%= legislator.position.party[0..2].titleize %>.</td>
            <td><%= legislator.position.state %></td>
            <td class='hidden-xs'><%= legislator.age %></td>
            <td class='hidden-xs'><%= legislator.terms_count %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>