<div class="container">
  <h2 class="header">Edit Your Account</h2>

  <div class="row col-sm-12">
    <ul class="nav nav-tabs small">
      <li class="active"><a>Profile</a></li>
      <li><%= link_to 'Funds', payments_path %></li>
      <li><a href="#profile" data-toggle="tab">History</a></li>
      <li><a href="#settings" data-toggle="tab">Settings</a></li>
    </ul>    
  </div>

  <div class="tab-content">
    <div class="tab-pane active" id="home">
      <%= form_for @user, url: user_path, method: :put, class: "form-horizontal", role: "form" do |f| %>
        <div class="row">
          <div class="col-xs-12 col-sm-6">

            <div class="form-group col-sm-12">
              <label for="login_email" class="col-sm-4 col-xs-12 control-label">Email Address</label>
              <div class="col-xs-12 col-sm-8">
                <%= f.email_field :email, class: "form-control" %>
              </div>
            </div>         

            <div class="form-group col-sm-12">
              <label for="login_email" class="col-sm-4 col-xs-12 control-label">Username</label>
              <div class="col-xs-12 col-sm-8">
                <%= f.text_field :username, class: "form-control" %>
              </div>
            </div>         
            <div class="form-group col-sm-12">
              <label for="login_email" class="col-sm-4 col-xs-12 control-label">First Name</label>
              <div class="col-xs-12 col-sm-8">
                <%= f.text_field :first_name, class: "form-control" %>
              </div>
            </div>         
            <div class="form-group col-sm-12">
              <label for="login_email" class="col-sm-4 col-xs-12 control-label">Last Name</label>
              <div class="col-xs-12 col-sm-8">
                <%= f.text_field :last_name, class: "form-control" %>
                <br />
              </div>
            </div>                     
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="form-group col-sm-12">
              <label for="login_email" class="col-sm-4 col-xs-12 control-label">Profile Picture</label>
              <div class="col-xs-12 col-sm-8">
                <img data-src="holder.js/100%x180" class="img-circle">
                <br />
              </div>
            </div>        
          </div>
         
        </div>   

        <div class="row">  
          <div class="col-xs-12 col-sm-6">
            <div class="form-group col-sm-12">
              <label for="login_email" class="col-sm-4 col-xs-12 control-label">Personal Bio</label>
              <div class="col-xs-12 col-sm-8">
                <%= f.text_area :bio, class: 'form-control', rows: 3 %>
              </div>
            </div>       
          </div>

        </div>   

        <div class="row">  
          <div class="form-group col-sm-12">
            <div class="col-sm-offset-2 col-sm-3">
              <br />
              <%= f.submit 'Save Changes', class: "btn btn-primary btn-block" %>
            </div>
          </div> 
        </div>   

    
      <% end %>
    </div>



  </div>
</div>
