<div class="container">
  <h2 class="header">Manage Your Funds</h2>

  <div class="row col-sm-12">
    <ul class="nav nav-tabs small">
      <li><%= link_to 'Profile', edit_user_path %></li>
      <li class="active"><a>Funds</a></li>
      <li><a href="#profile" data-toggle="tab">History</a></li>
      <li><a href="#settings" data-toggle="tab">Settings</a></li>
    </ul>    
  </div>

  <div class="row col-sm-12">
    <div class="col-xs-10 col-sm-4 col-md-4">
      <h5>Current Funds: <span class="label label-default pull-right">$ 0.00</span></h5>
      <h5>Winnings: <span class="label label-default pull-right">$ 0.00</span></h5>
      <h5>Deposits: <span class="label label-default pull-right">$ 0.00</span></h5>
    </div>
    <div class="col-xs-10 col-sm-3 col-md-4">
      <h5>Record: <span class="label label-default pull-right">0 - 0 - 0</span></h5>
      <h5>Return: <span class="label label-default pull-right">100 %</span></h5>
      <h5>Pending: <span class="label label-default pull-right">$ 0.00</span></h5>
    </div>
  </div>  
  
  <div class="row col-sm-12">
    <hr />
    <div class="col-sm-6">
      <h3>Deposit Funds</h3>
      <p>Add funds to your account to play in cash payout leagues. You must deposit at least $10 into your account, and FCL accepts all major credit cards and PayPal.</p>

      <%= form_for @payment, url: payments_path, class: "form-horizontal", role: "form" do |f| %>
        <%= f.hidden_field :change, value: :credit %>
        <div class="form-group">
          <h5>Deposit Amount</h5>
          <label class="checkbox-inline col-sm-3">
            <%= f.radio_button :amount, 10.00 %> $10
          </label>
          <label class="checkbox-inline col-sm-3">
            <%= f.radio_button :amount, 10.00 %> $30
          </label>
          <label class="checkbox-inline col-sm-3">
            <%= f.radio_button :amount, 10.00 %> $50
          </label>
          <br />
          <br />
          <label class="checkbox-inline col-sm-12 col-sm-10 col-md-5">
            <%= f.number_field :amount, class: 'form-control input-sm', placeholder: '$ Enter own amount' %>
          </label>
          <br />
          <br />
        </div>

        <div class="form-group">
          <%= f.submit 'Deposit Funds', class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-6">
      <h3>Withdraw Funds</h3>
      <p>You can withdraw your deposited funds and winnings using PayPal, check, or on the next ACH pay period. Withdrawals over $250 require your Social Security Number for tax purposes. Please note that the minimum withdrawl is $10.</p>

      <%= form_for @payment, url: payments_path, class: "form-horizontal", role: "form" do |f| %>
        <%= f.hidden_field :change, value: :debit %>
        <div class="form-group">
          <h5>Withdrawl Amount</h5>
          <label class="checkbox-inline col-sm-12 col-sm-10 col-md-5">
            <%= f.number_field :amount, class: 'form-control input-sm', placeholder: 'max $0' %>
          </label>
          <br />
          <br />
        </div>

        <p><em>Note: other payout methods coming soon.</em></p>

        <div class="form-group">
          <%= f.submit 'Withdraw Funds', class: "btn btn-primary" %>
        </div>
      <% end %>      
    </div>
  </div>  
</div>