<div class="container">
  <h2 class="header">FCL Login</h2>

  <%= form_for @login, url: login_path, class: "form-horizontal", role: "form" do |f| %>

    <div class="form-group col-sm-12">
      <%= f.label :email, 'Email Address', class: "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.email_field :email, class: "form-control", autofocus: true %>
      </div>
    </div>
    <div class="form-group col-sm-12">
      <%= f.label :password, 'Password', class: "col-sm-2 control-label" %>
      <div class="col-sm-6">
        <%= f.password_field :password, class: "form-control" %>
      </div>
    </div>
    <div class="form-group col-sm-12">
      <div class="col-sm-offset-2 col-sm-6">
        <div class="checkbox">
          <label>
            <%= f.check_box :remember %> Remember Me
          </label>
        </div>
      </div>
    </div>
    <div class="form-group col-sm-12">
      <div class="col-sm-offset-2 col-sm-3">
        <%= f.submit 'Sign-In', class: "btn btn-primary btn-block" %>
      </div>
    </div>
  <% end %>
</div>