<div class="container">
  <h2 class="header">Contact Support</h2>
  <div class="col-sm-12">
    <p class='lead col-sm-12'>
      Please contact us with any questions, feedback, or bug reports.
    </p>
  </div>

  <dl class="dl-horizontal col-sm-12">
    <dt>Email</dt>
    <dd><%= link_to Rails.application.config.support_email, "mailto:#{Rails.application.config.support_email}" %></dd>
    <br />
    <dt>Bug Reports</dt>
    <dd><%= link_to Rails.application.config.bug_report_url, Rails.application.config.bug_report_url, target: '_blank' %></dd>
    <br />
    <dt>Phone</dt>
    <dd><%= Rails.application.config.support_number %></dd>
    <br />
    <dt>Address</dt>
    <dd>Bellwether Inc<br />Fantasy Congress League<br />2327A Via Sardina St<br />Tallahassee FL 32303</dd>
  </dl>
</div>