// custom over-rides
$grid-float-breakpoint: 768px;
$jumbotron-padding:  15px !default;

// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }

// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  padding-bottom: 80px;
  padding-left:0;
  padding-right:0;
  width: 100%;
  margin-top: 0; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

.jumbotron {
  h1,
  .h1 {
    font-size: ($font-size-base * 3);
    }
  }

.nav-tabs.small {
  margin-bottom: 20px;
  }

.bs-sidebar .nav .nav > li > a {
padding-top: 3px;
padding-bottom: 3px;
padding-left: 30px;
font-size: 90%;
}  

form .img-circle {
  background:#999;
  height:90px;
  margin-left: 0;
  width:90px;
  }

h1.header,
h2.header {
  margin-top: 5px;
  padding: 0 0 24px 24px;
  }
h2.header { font-size: ($font-size-base * 2); }  

@media screen and (max-width: $screen-sm-min) {
  .jumbotron {
    padding: ($jumbotron-padding / 2) 0;
    }
  .nav.small li > a {
    padding: 10px 10px;
    }    
  }