<div class="container small">
    <hr>
    <ul class="list-inline pull-right">
      <li>&copy; 2013-<%= Date.current.year %> Bellwether Inc.</li>
      <li><a href="http://twitter.com/fleaflicker"><i class="icon-twitter"></i></a></li>
      <li><a href="http://www.facebook.com/Fleaflicker"><i class="icon-facebook"></i></a></li>
      <li><em class="muted">v0.1.1</em></li>
    </ul>

    <ul class="list-inline">
      <li><a href="/about">About</a></li>
      <li><a href="/terms">Terms</a></li>
      <li><a href="/privacy">Privacy</a></li>
      <li><a href="/contact"><strong>Contact Support</strong></a></li>
    </ul>
</div>