<div class="col-sm-3">
  <div class="bs-sidebar hidden-print affix-top" role="complementary">
    <ul class="nav bs-sidenav">
      <li><a href="#how-fcl-works">How FCL Works</a></li>
      <li><a href="#getting-started" data-toggle="collapse" data-target="#getting-started-nav">Getting Started</a></li>
      <li>
        <a href="#league-play" data-toggle="collapse" data-target="#league-play-nav">League Play</a>
        <ul id="league-play-nav" class="nav collapse">
          <li><a href="#finding-a-league">Finding a League</a></li>
          <li><a href="#seasons">Seasons</a></li>
          <li><a href="#dynasty-leagues">Dynasty Leagues</a></li>
          <li><a href="#private-leagues">Private Leagues</a></li>
          <li><a href="#quitting-leagues">Quitting</a></li>
          <li><a href="#league-formats">League Formats</a></li>
          <li><a href="#leagues-slots">Team Slots</a></li>
        </ul>
      </li>
      <li>
        <a href="#drafting" data-toggle="collapse" data-target="#drafting-nav">Drafting</a>
        <ul id="drafting-nav" class="nav collapse">
          <li><a href="#draft-formats">Draft Formats</a></li>
          <li><a href="#draft-schedule">Draft Schedule</a></li>
          <li><a href="#draft-stats">Draft Stats</a></li>
        </ul>
      </li>
      <li>
        <a href="#cash-payout" data-toggle="collapse" data-target="#cash-payout-nav">Cash Payout</a>
        <ul id="cash-payout-nav" class="nav collapse">
          <li><a href="#buy-ins">League Buy-Ins</a></li>
          <li><a href="#payout-rules">Payout Rules</a></li>
          <li><a href="#the-rake">The Rake</a></li>
        </ul>
      </li>
      <li>
        <a href="#user-accounts" data-toggle="collapse" data-target="#user-accounts-nav">User Account</a>
        <ul id="user-accounts-nav" class="nav collapse">
          <li><a href="#account-history">Account History</a></li>
          <li><a href="#notification-settings">Notification Settings</a></li>
          <li><a href="#loyalty-program">Loyalty Program</a></li>
        </ul>
      </li>
      <li>
        <a href="#stock-market" data-toggle="collapse" data-target="#stock-market-nav">Stock Market</a>
        <ul id="stock-market-nav" class="nav collapse">
          <li><a href="#shareholding">Shareholding</a></li>
          <li><a href="#investing">Investing</a></li>
          <li><a href="#dividends">Dividends</a></li>
        </ul>
      </li>
      <li>
        <a href="#legality" data-toggle="collapse" data-target="#legality-nav">Legality</a>
        <ul id="legality-nav" class="nav collapse">
          <li><a href="#cash-prize-legality">Cash Prizes</a></li>
          <li><a href="#uigea">UIGEA</a></li>
          <li><a href="#uigea-exceptions">Exceptions</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>