<ul class="nav navbar-nav">
  <li class="<%= params[:controller] == 'user' ? 'active' : '' %>">
    <%= link_to 'Home', root_path %>
  </li>
  <li class="<%= params[:controller] == 'leagues' ? 'active' : '' %>">
    <%= link_to 'Leagues', leagues_path %>
  </li>
  <li><a href="#">Leaderboards</a></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Research <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="#">News</a></li>
      <li role="presentation" class="divider"></li>
      <li><%= link_to 'Legislators', legislators_path %></li>
      <li><a href="#">Bills</a></li>
      <li><a href="#">Votes</a></li>
      <li><a href="#">Committees</a></li>
    </ul>
  </li>
</ul>

<ul class="nav navbar-nav navbar-right">
  <li>
    <%= link_to help_path, class: 'small' do %>
      <span class="glyphicon glyphicon-question-sign"></span> Help
    <% end %>
  </li>
  <% if logged_in? %>
    <li>
      <%= link_to edit_user_path, class: 'small' do %>
        <span class="glyphicon glyphicon-user"></span> Account
      <% end %>    
    </li>
  <% else %>
    <li>
      <%= link_to new_user_path, class: 'small' do %>
        <span class="glyphicon glyphicon-user"></span> Register
      <% end %>    
    </li>
    <li>
      <%= link_to new_login_path, class: 'small' do %>
        <span class="glyphicon glyphicon-log-in"></span> Sign In
      <% end %>    
    </li>
  <% end %>
</ul>